<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsi.ant.stonestreetoneantservice"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        
        <service 
            android:exported="true"
            android:name=".StonestreetOneAntService"
            >
            
            <meta-data android:name="ANT_HardwareType"
                android:value="built-in"
                />
            <meta-data android:name="ANT_AdapterType"
                android:value="remote"/>
            <intent-filter>
                <action android:name="com.dsi.ant.intent.request.SERVICE_INFO" />
            </intent-filter>
            
        </service>
    <uses-library android:name="com.stonestreetone.bluetopiapm" />
    </application>

</manifest>
