<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.reconinstruments.dashboard"
	android:versionCode="1"
	android:versionName="1.0" >
	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar" >
		<activity
			android:name="com.reconinstruments.dashboard.DashboardActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance" >
			<intent-filter>
				<action android:name="com.reconinstruments.dashboard" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.reconinstruments.dashboard.ActivitySummaryActivity"
			android:theme="@style/ReconTheme.NoTitleBar.Fullscreen" />
		<activity
			android:name="com.reconinstruments.dashboard.ActivitySummaryMapOverlayActivity"
			android:launchMode="singleInstance"
			android:theme="@style/ReconTheme.NoTitleBar.Fullscreen" />
	</application>
</manifest>