<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reconinstruments.os.analyticsservice"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:name="com.reconinstruments.os.analyticsservice.AnalyticsServiceApp" android:persistent="true">
        <uses-library android:name="com.reconinstruments.os.analyticsagent" />
        <uses-library android:name="com.reconinstruments.os" />
        <uses-library android:name="net.lingala.zip4j" />
    </application>

</manifest>
