<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reconinstruments.gazedetectionapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="com.reconinstruments.hudserver.GAZE_CALIBRATION" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:icon="@drawable/ic_launcher"
        android:persistent="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".GazeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calibrate"
            android:label="@string/title_activity_calibrate"
            android:parentActivityName=".GazeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.reconinstruments.gazedetectionapp.GazeActivity" />
        </activity>
        <service
            android:name=".GazeAppService"
            android:exported="false"
            android:process=":gazeappservice" />
    </application>
</manifest>
